.experience_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.experience_container > div {
  background: var(--purple);
  padding: 2.5rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  line-height: 1rem;
}

.experience_container > div:hover {
  background: transparent;
  border-color: var(--cyan);
  cursor: default;
  line-height: .9rem;
}

.experience_container > div h3 {
  text-align: center;
  margin-bottom: 3rem;
  color: var(--cyan);
}

.experience_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
}

.experience_details {
  display: flex;
  gap: 1rem;
}

.experience_details-icon {
  margin-top: 36px;
  color: var(--pink);
}

.CVdownload {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.1rem;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .experience_container {
    grid-template-columns: 1fr;
  }
  .experience_container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }

  .experience_content {
    padding: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .experience_container {
    max-width: 100%;
    gap: 1rem;
  }

  .experience_container > div {
    width: 22rem;
    padding: 2rem 0;
  }

  .experience_content {
    gap: 0.4rem;
  }
}
