header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}

.CVdownload {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.1rem;
  justify-content: center;
}

.socials {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3rem;
}

.socials a {
  color: var(--pink);
}

.socials a:hover {
  color: var(--cyan);
}

/* .socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--pink);
} */

.sophie {
  background: linear-gradient(var(--pink), transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 3rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 5rem 0 0 0;
}

@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
    width: 100vw;
    width: 25rem;
  }

  .socials {
    display: none;
  }
}
