header {
  height: 100vh;
  overflow: hidden;
  display: grid;
}

.header_container {
  width: 100%;
  display: grid;
  place-items: center;
  justify-content: center;
  grid-template-columns: 50% 35%;
}

.header_text {
  display: grid;
  text-align: center;
  flex-direction: column;
}

.socials {
  display: flex;
  gap: 1rem;
  bottom: 3rem;
  padding: 3rem;
}

.socials a {
  color: var(--pink);
}

.socials a:hover {
  color: var(--cyan);
}

/* .socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--pink);
} */

.sophie {
  background: linear-gradient(var(--pink), transparent);
  display: grid;
  width: 28rem;
  height: 28rem;
  left: calc(50% - 11rem);
  margin-top: 3rem;
  border-radius: 20rem 20rem 20rem 20rem;
  overflow: hidden;
  padding: 1rem;
}

@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
  .header_text {
    transform: translateX(50%);
  }
}
@media screen and (max-width: 600px) {
  header {
    height: 60vh;
    width: 100vw;
    width: 25rem;
  }

  .header_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header_text {
    transform: translateX(0%);
  }

  .socials {
    display: none;
  }

  .sophie {
    width: 18rem;
    height: 18rem;
  }
}
