header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}

.CVdownload {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.1rem;
  justify-content: center;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--pink);
}

.sophie {
  background: linear-gradient(var(--pink), transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 3rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 5rem 0 0 0;
}
